*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  background-color: #f2dde1;
}
/* shared width */
.width_container{
  max-width: 1150px;
  margin: 0 auto;
}
/* display flex */
.display{
  display: flex;
}
/* shared colors */
.color_primary{
  color: #272727; /*100%*/
}
.color_secondary{
  color: #272727; /*60%*/
}
.color_tartiary{
  color: #272727;  /*80%*/
}
/* banner Style */
.banner{
  align-items: center;
  justify-content: space-between;
}
.banner_content{
  max-width: 60%;
}
.banner_h1{
  font-size: 5rem;
  font-weight: 900;
  line-height: 80px;
  max-width: 700px;
}
.banner_p{
  font-size: 18px;
  font-size: 400;
  color: #393939;
  max-width: 600px;
  margin-top: 20px;
}
.banner_button{
  background-color: #E55473;
  font-size: 1rem;
  font-weight: 700;
  padding: 7px 12px;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}
.banner img{
  max-width: 450px;
  width: 100%;
}

/* Small Device Responsive */
@media screen and (max-width:576px){
  .banner{
  flex-direction: column;
  }
  .banner_content,.banner_h1,.banner_p{
  max-width: 100%;
  text-align: center;
  padding: 0 20px;
  margin-top: 20px; 
 }
 .banner_h1{
  font-size: 4rem;
  line-height: 60px;
 }
 .banner img{
  max-width: 100%;
  margin-top: 50px;
 }
 }
